/* comment */
/* setting the values */
:root {
    --main-font: arial, helvetica, sans-serif;
    --light-blue-1: #fffae5;
    --light-blue-2: #fff6cc;
    --light-blue-3: #fff2b2;
    --light-blue-4: #ffee99;
    --light-blue-5: #ffe97f;
    --light-blue-6: #f4ac32;
}

body{
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
}

.logo {
    width: 100%;
}

.logoLink{
    width: 15%;
    overflow: hidden;
}

.title{
    background-color: var(--light-blue-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.search-form{
    padding-left: 5px;
    width: 100%;
}

.mainContent {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.nav {
    width: 15%;
    background-color: var(--light-blue-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.contact-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

/*styling the form for contact us*/

.myform{
    padding: 8px;
}

.myform .formgroup{
    padding: 15px;
}

.myform label{
    display: block;
}

.myform input [type="text"] , .myform textarea{
    width: 50%;
    padding: 8px;
}

.myform input [typer="submit"]{
    background-color: #333;
    color: white;
    padding: 15px;
}

input[type="text"], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light-blue-6);
}

input[type=submit]{
    background-color: var(--light-blue-6);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.bannerLatestArrivals{
    display: flex;
    width: 100%;
}

.carousel{
    width: 100%;
}


.slide {
    min-height: 50vh;
    width: 30vw;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.slide h1 {
    background-color: hsla(240, 100%, 98%, 0.4);
    padding: 1em;
    border-radius: 1em;
    min-width: 6em;
    text-align: center;
}
.one {
    background-image: url("../Assets/NewShoes/NewClancyBlue.jpg");
}
.two {
    background-image: url("../Assets/NewShoes/NewShoe2.jpg");
}
.three {
    background-image: url("../Assets/NewShoes/NewShoe3.jpg");
}
.four {
    background-image: url("../Assets/NewShoes/NewShoe4.jpg");
}
.five {
    background-image: url("../Assets/NewShoes/NewShoe5.jpg");
}
.six {
    background-image: url("../Assets/NewShoes/NewShoe6.jpg");
}
.welcomeText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

footer{
    background-color: var(--light-blue-4);
    display: flex;
    flex-direction: row;
    flex: 1;
}

.footerPolicies{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.footerMediaLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.link{
    text-decoration: none;
    color: #E94D40;
}

.linkcurrent{
    text-decoration: none;
    color: #0C243C;
    border: 1px solid #0C243C;
}

.link:hover, .linkcurrent:hover{
    color: #0C243C;
    text-decoration: underline;
}

p{
    color: var(--light-blue-6);
}